{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>


<form action="/add_flashcard" method="POST">
  <label for="question">Question:</label>
  <input type="text" id="question" name="question" required><br><br>

  <label for="answer">Answer:</label>
  <input type="text" id="answer" name="answer" required><br><br>

  <label for="topic">Topic:</label>
  <input type="text" id="topic" name="topic" required><br><br>

  <input type="submit" value="Submit">
</form>

<form action="/filter_flashcards" method="POST">
  <label for="topic">Topics:</label>
  <select id="topic" name="topic" required>
    {% set topics = [] %}
    {% set _ = topics.append('all') %}
    <option value="all" {% if selected_topic == 'all' %}selected{% endif %}>All</option>
    {% for flashcard in flashcards %}
        {% if flashcard.topic not in topics %}
            {% set _ = topics.append(flashcard.topic) %}
            <option value="{{ flashcard.topic }}" {% if selected_topic == flashcard.topic %}selected{% endif %}>{{ flashcard.topic }}</option>
        {% endif %}
    {% endfor %}
  </select><br><br>
  <input type="submit" value="Filter">
</form>

{% for flashcard in flashcards %}
  <div>
      <h3>Question: {{ flashcard.question }}</h3>
      <p>Answer: {{ flashcard.answer }}</p>
      <p>Topic: {{ flashcard.topic }}</p>
  </div>
{% endfor %}

{% endblock %}