{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome, {{ name }}!
</h1>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<form action="/add_flashcard" method="POST">
  <label for="question">Question:</label>
  <input type="text" id="question" name="question" required><br><br>

  <label for="answer">Answer:</label>
  <input type="text" id="answer" name="answer" required><br><br>

  <label for="topic">Topic:</label>
  <input type="text" id="topic" name="topic" required><br><br>

  <input type="submit" value="Submit">
</form>

<label for="topic">Topics:</label>
<select id="topic" name="topic" required>
  {% set topics = [] %}
  {% for flashcard in flashcards %}
      {% if flashcard.topic not in topics %}
          {% set _ = topics.append(flashcard.topic) %}
          <option value="{{ flashcard.topic }}">{{ flashcard.topic }}</option>
      {% endif %}
  {% endfor %}
</select><br><br>

<button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Click and hold a card to the show the answer!">
  Help
</button>

<div class="container-md my-2">
  <div class="row">
{% for flashcard in flashcards %}

    <div class="card card-flip bg-transparent w-25 border-0 my-1 mx-2">
      <div class="card-front bg-white border border-white rounded">
        <div class="card-body">
          <h5 class="card-title">{{ flashcard.topic }}</h5>
          <p class="card-text">Question: {{ flashcard.question }}</p>
        </div>
      </div>
      <div class="card-back text-white bg-success border border-white rounded">
        <div class="card-body">
          <h5 class="card-title">{{ flashcard.topic }}</h5>
          <p class="card-text">Answer: {{ flashcard.answer }}</p>
        </div>
      </div>
    <form action="/delete_flashcard" method="POST" class="deleteForm">
      <input type="hidden" name="flashcard_id" value="{{ flashcard.id }}">
      <button type="submit" class="btn btn-danger btn-sm" style="width: 30px; height: 30px;">
        <i class="fa-solid fa-trash"></i>
      </button>
    </form>
    </div>
{% endfor %}
  </div>
</div>
</body>

<style>

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 150ms;
  transition-timing-function: linear;
  height: 250px;
  width: 100%;
}

.card-front {
  transform: rotateY(0deg);
  padding: auto;
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  padding: auto;
  top: 0;
}

.card-flip:active .card-front {
  transform: rotateY(180deg);
}

.card-flip:active .card-back {
  transform: rotateY(0deg);
}
</style>

{% endblock %}